html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg,#F8FAFC 0%, #EEF6FF 50%, #F5FFFD 100%);
    font-family: sans-serif;
    color: #1E293B;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background: linear-gradient(135deg,#F8FAFC 0%, #EEF6FF 50%, #F5FFFD 100%);
    border: 1px solid #D1D5DB;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main-content{
    background: linear-gradient(135deg,#F8FAFC 0%, #EEF6FF 50%, #F5FFFD 100%);
    border: 1px solid #D1D5DB;
    border-radius: 16px;
    padding: 40px;
}


/* Profile section */

.profile{
    text-align: center;
}


.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #D1D5DB;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #1E293B;
}

.profile p{
    background-color: #FFFFFF;
    padding: 5px 15px;
    color: #3c7de6;
    border: 1px solid #D1D5DB;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}



/* contact information */

.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top:20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #1E293B;
}

.value{
    color: #1E293B;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}

/* social media */

/* Social Media */

.social{
    margin-top:30px;
    border-top:2px solid #3a3a3a;
    padding-top:20px;
    text-align:center;
}

.social a{
    display:inline-block;
    margin:0 8px;
}

.social img{
    width:24px;
    height:24px;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.social img:hover{
    filter: brightness(0) saturate(100%) invert(39%) sepia(97%) saturate(2335%) hue-rotate(203deg) brightness(98%) contrast(101%);
    transform: scale(1.2);
}


/* main content */

/* Navigation ko  */


#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    transition: transform 0.8s ease;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #1E293B;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active, nav a:hover{
    color: #3c7de6;
}


/* about me */

.heading{
    color: #3B82F6;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
   background: linear-gradient(90deg,#3B82F6,#14B8A6);
    margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #1E293B;
}

#about{
    margin-bottom: 40px;
}


/* skills section */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #D1D5DB;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    background: linear-gradient(135deg,#3B82F6 0%,#06B6D4 50%,#14B8A6 100%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}


/* Education */
#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #1E293B;
    margin-bottom: 5px;
}

.degree{
    color: #1E293B;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    color: #1E293B;
    margin-bottom: 10px;
}

.work{
    color: #1E293B;
}

.edfirst, .edsecond{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border: 3px solid #3B82F6;
    border-radius: 50%;
    position: absolute;
    top:5px;
    left: 0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 2px;
    top:10px;
    bottom: 0px;
    left: 5px;
    border: 2px solid #d9dde4;
}


/* Portfolio */

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
}

.project{
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #D1D5DB;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);;
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 20px;
}

.card h3{
    color: #1E293B;
    margin-bottom: 10px;
}

.card p{
    color: #1E293B;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
    background-color: rgba(193, 195, 207, 0.1);
    color: #1E293B;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}

/* passion section */

.p1{
    padding-top: 50px;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    color: #3B82F6;
}
.p2{
    text-align: center;
    color:#1E293B;
     padding-bottom: 60px;
}
.co{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
}
.coding{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    text-align: left;
    line-height: 1.6;
}
.cheading{
color: #3B82F6;
padding-bottom: 10px;
}

.coding:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);;
}
/* Social-media */

/* .social-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  
    
}
.platform{
   background-color: #1e1e1e;
   border: 1px solid #3a3a3a;
   width: 60px;
   height: 50px;
} */
    